<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<form th:object="${job}" id="job-form" action="/register" enctype="utf8">
    
    
    <div class="form-unit">
        <label class="form-label">Title</label>
        <input th:field="*{title}" class="form-input"/>
        <p th:each="error: ${jobTitleError}"
            th:text="${error}" class="error-message">Validation error</p>
    </div>
    <div class="form-unit">
        <label class="form-label">Description</label>
        <textarea maxlength="200" th:field="*{description}" class="form-text-area"/>
        <p th:each="error: ${jobDescriptionError}"
            th:text="${error}" class="error-message">Validation error</p>
    </div>

    <div class="form-unit">
        <label class="form-label">Location</label>
        <input th:field="*{location}" class="form-input"/>
        <p th:each="error: ${jobLocationError}"
            th:text="${error}" class="error-message">Validation error</p>
    </div>

    <div class="form-unit">
        <label class="form-label">Is resume needed?</label>
        <label for="yes-resume-btn">Yes</label>
        <input type="radio"  name="isResumeNeeded" value="yes" id="yes-resume-btn" th:checked="${#bools.isTrue(job.isResumeNeeded)}"/>
        <label for="no-resume-btn">No</label>
        <input type="radio"  name="isResumeNeeded" value="no" id="no-resume-btn" th:checked="${#bools.isFalse(job.isResumeNeeded)}"/>
        <p th:each="error: ${#fields.errors('isResumeNeeded')}"
            th:text="${error}" class="error-message">Validation error</p>
    </div>

    <div class="form-unit">
        <label class="form-label">Is cover letter needed?</label>
        <label for="yes-cover-letter-btn">Yes</label>
        <input type="radio"  name="isCoverLetterNeeded" value="yes"  id="yes-cover-letter-btn" th:checked="${#bools.isTrue(job.isCoverLetterNeeded)}"/>
        <label for="no-cover-letter-btn">No</label>
        <input type="radio"  name="isCoverLetterNeeded" value="no" id="no-cover-letter-btn"  th:checked="${#bools.isFalse(job.isCoverLetterNeeded)}"/>
        <p th:each="error: ${#fields.errors('isCoverLetterNeeded')}"
            th:text="${error}">Validation error</p>
    </div>

    <div class="form-unit">
        <label class="form-label">expiry(in days)</label>
        <input type="number"  id="job-expiry-time-input" th:field="*{expiryTime}"  class="form-input"/>
        <p th:each="error: ${jobExpiryError}"
            th:text="${error}" class="error-message">Validation error</p>
    </div>

</form>


<input type="hidden"  name="job-id" id="job-id" th:value="${job.id}" th:if="${job.id != null}"/>


<button id="add-job-question-btn" class="secondary-btn">Add question</button>

<div id="job-question-container">
    <th:block th:each="question: ${questions}">
        <div class="form-unit">
            <div class="form-label">Question</div>
            <input type="text"  name="job-question" class="js-job-question form-input" th:value="${question.questionName}"/>
            <button class="js-remove-job-question-btn secondary-btn">Remove</button>
        </div>
    </th:block>
</div>

<p th:each="error: ${jobQuesitonError}"
            th:text="${error}" class="error-message">Validation error</p>

<button id="save-job-btn" class="primary-btn">Save</button>

<p th:if="${message}" th:text="${message}" class="info-message">Server side error</p>

</html>