<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<h3>Company details</h3>
<div class="form-unit">
    <label class="form-label">Title : </label>
    <span th:text="${job.company.name}"></span>
</div>
<div class="form-unit">
    <label class="form-label">Address : </label>
    <span th:text="${job.company.address}"></span>
</div>
<div class="form-unit">
    <label class="form-label">Contact Info : </label>
    <span th:text="${job.company.contactInfo}"></span>
</div>

<h3>Job Details</h3>
    
    <span th:text="${job.id}" style="display: none;" id="job-id"></span>
    <div class="form-unit">
        <label class="form-label">Title : </label>
        <span th:text="${job.title}"></span>
    </div>
    <div class="form-unit">
        <label class="form-label">Description : </label>
        <span th:text="${job.description}"></span>
    </div>

    <div class="form-unit">
        <label class="form-label">Location</label>
        <span th:text="${job.location}"></span>
    </div>

    <div class="form-unit">
        <label class="form-label">Is resume needed?</label>
        <span th:text="${job.isResumeNeeded}"></span>
    </div>

    <div class="form-unit">
        <label class="form-label">Is cover letter needed?</label>
        <span th:text="${job.isCoverLetterNeeded}"></span>
    </div>

    <div class="form-unit">
        <label class="form-label">expiry(in days)</label>
        <span th:text="${job.expiryTime}"></span>
    </div>



<button class="secondary-btn js-refresh-btn">Back</button>
<button id="create-job-application-btn" class="primary-btn">Apply</button>


<p th:if="${message}" th:text="${message}" class="info-message">Server side error</p>

</html>