<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job Searching Platform</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/job-seeker.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/job-seeker.js}"></script>

</head>
<body>
  <div class="header-container">
    <span>Job Searching Platform</span>
  </div>
  <ul class="side-bar-container" id="side-bar">
      <li class="side-bar-option" id="job-menu">Jobs</li>
      <li class="side-bar-option" id="job-application-menu">Job Applications</li>
      <li class="side-bar-option" id="document-menu">Documents</li>
      <li class="side-bar-option" id="profile-menu">Profile</li>
      <li class="side-bar-option" id="logout-btn">Logout</li>
  </ul>

<div id="main-body" class="main-body">

</div>


</body>
</html>